@use "variables" as *;
@use "../mixins/text";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;

  &.dark {
    color-scheme: dark;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  background-color: $color-base;
  color: $color-base-dark;
  line-height: 1.5;

  .dark & {
    background-color: $color-base-dark;
    color: $color-base;
  }
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: $color-primary-dark;
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: $color-primary-2-dark;
  }

  .dark & {
    color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      color: $color-primary-2;
    }
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

code {
  border-radius: $radius-base;
  padding: $space-0-5;
  background-color: $color-nested-2;

  .dark & {
    background-color: $color-nested-2-dark;
  }
}

ul {
  margin-left: $space-4;
}

.category-header {
  @include text.xl;
  text-align: center;
}