$color-base: rgb(212 212 212);
$color-nested-1: rgb(229 229 229);
$color-nested-2: rgb(245 245 245);

$color-base-dark: rgb(23 23 23);
$color-nested-1-dark: rgb(38 38 38);
$color-nested-2-dark: rgb(64 64 64);

$color-url: rgb(147 197 253);
$color-url-action: rgb(191 219 254);

$color-primary: rgb(134 239 172);
$color-primary-2: rgb(187 247 208);
$color-primary-dark: rgb(22 101 52);
$color-primary-2-dark: rgb(21 128 61);

$color-danger: rgb(252 165 165);
$color-danger-dark: rgb(153 27 27);

$color-gitlab: rgb(234 88 12);
$color-gitlab-dark: rgb(194 65 12);

$radius-base: 0.375rem;
$radius-lg: 0.5rem;

$space-0-5: 0.125rem;
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-5: 1.25rem;