@mixin xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

@mixin lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@mixin xxl {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin xxxl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

@mixin xxxxxl {
  font-size: 3rem;
  line-height: 1;
}

@mixin xxxxxxxl {
  font-size: 4.5rem;
  line-height: 1;
}