<%# locals: (project:) -%>
<div class="project-summary">
  <%= link_to "", project,
    class: "summary-link",
    data: { turbo_target: "project", turbo_stream: true }
  %>
  <div class="image">
    <img src="/images/<%= project.code %>/logo.png" />
  </div>
  <div class="info">
    <div class="name">
      <%= project.name %>
    </div>
    <div class="summary">
      <%= project.summary %>
    </div>
    <div class="tags">
      <%= render partial: "tags/tag", collection: project.tags %>
    </div>
  </div>
</div>
