<%# locals: (project:,in_turbo_stream: false) -%>
<%= turbo_frame_tag "project", data: { controller: "cleaner project-close" } do %>
  <div class="project">
    <div class="overlay"></div>
    <div class="container" data-action="click->project-close#close">
      <div class="box">
        <div class="close-button" data-project-close-target="closeButton">
          <% if in_turbo_stream %>
            <%= link_to "x", "/", data: { action: "cleaner#clean" } %>
          <% else %>
            <%= link_to "x", "/", data: { turbo_frame: "_top" } %>
          <% end %>
        </div>
        <div class="name"><%= project.name %></div>
        <div class="tags">
          <%= render partial: "tags/tag", collection: project.tags %>
        </div>
        <div class="urls">
          <%= render partial: "project_urls/url", collection: project.project_urls %>
        </div>
        <div class="description" data-controller="markdown">
          <div data-markdown-target="content">
            <%= project.description %>
          </div>
        </div>
        <div class="media-text">
          Media <span>(click for bigger view)</span>
        </div>
        <div class="media" data-controller="big-image">
          <%= render partial: "project_media/medium",
            collection: project.project_media,
            locals: { project_code: project.code, dataset: { action: "click->big-image#show" } }
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
