<%# locals: (active_tags:,tags:) -%>
<%= form_with url: "/projects/search",
  id: "projects-search",
  method: :get,
  data: { turbo_stream: true } do |form|
%>
  <% active_tags.each do |t| %>
    <%= form.hidden_field "active_id-#{t}", name: "tags[active_ids][]", value: t %>
  <% end %>
  <% tags.each do |t| %>
    <button name="tags[id]" value="<%= t.id %>" class="<%= active_tags.include?(t.id) && 'active' %>">
      <%= render partial: "tags/tag", object: t %>
    </button>
  <% end %>
<% end %>
