<div class="topbar">
  <div data-controller="theme">
    <img src="/hamster.jpg" class="hamster-image"/>
    <button class="btn theme-btn" data-action="theme#toggle">
      Toggle theme
    </button>
  </div>
  <div class="title">Tzwz's projects</div>
  <div>
    <%= link_to "https://gitlab.com/tzwz",
          class: "gitlab-link",
          data: { turbo: false } do
    %>
      <div>
        <div class="gitlab-image">
          <img src="/gitlab.png" />
        </div>
        <div class="gitlab-text">View Gitlab profile</div>
      </div>
    <% end %>
  </div>
</div>
