<%= render "topbar" %>
<div class="projects-list">
  <div>
    <div class="category-header"><strong>Filters:</strong></div>
    <%= render partial: "search_form", locals: { active_tags: @active_tags, tags: @tags } %>
  </div>
  <div class="category-header projects-list-text"><strong>Projects:</strong></div>
  <div id="projects-list">
    <%= render partial: "project_summary", collection: @projects, as: :project %>
  </div>
</div>

<%= turbo_frame_tag "project" %>
