<%= turbo_stream.update "projects-list" do %>
  <div class="empty">No project matches search</div>
  <%= render partial: "projects/project_summary", collection: @projects, as: :project %>
<% end %>

<%= turbo_stream.replace "projects-search" do %>
  <%= render partial: "search_form", locals: { active_tags: @active_tags, tags: @tags } %>
<% end %>
