@use "../config/variables" as *;

.btn {
  padding: $space-1;
  border-radius: $radius-lg;
  background-color: $color-primary;

  &:hover,
  &:focus {
    background-color: $color-primary-2;
  }

  .dark & {
    background-color: $color-primary-dark;

    &:hover,
    &:focus {
      background-color: $color-primary-2-dark;
    }
  }
}