@use "../config/variables" as *;

input[type="text"] {
  background-color: $color-nested-1;
  padding: $space-0-5;
  width: 100%;
  outline: 0;
  border-radius: $radius-base;
  border-width: 2px;
  border-color: $color-primary;

  &:focus {
    border-color: $color-primary-2;
  }

  .dark & {
    background-color: $color-nested-1-dark;
    border-color: $color-primary-dark;

    &:focus {
      border-color: $color-primary-2-dark;
    }
  }
}