@use "../config/variables" as *;
@use "../mixins/flex_center" as *;

.medium {
  @include flex_center;
  width: 100%;

  img {
    width: 100%;
    border-width: 2px;
    cursor: pointer;
    border-color: $color-primary;

    .dark & {
      border-color: $color-primary-dark;
    }
  }
}