@use "../mixins/media" as *;
@use "../config/variables" as *;

.projects-list {
  max-width: 500px;
  width: 100%;
  margin: auto;

  @include media(md) {
    width: 75%;
  }

  @include media(lg) {
    width: 50%;
  }

  @include media(xl) {
    width: 40%;
  }

  &>div {
    margin: {
      top: $space-0-5;
      bottom: $space-0-5;
    }
  }

  .projects-list-text {
    margin-top: $space-5;
  }
}