@use "../config/variables" as *;
@use "../mixins/media" as *;
@use "../mixins/text";

.project {
  position: relative;
  z-index: 10;

  .box {
    position: fixed;
    inset: 0px;
    overflow-y: auto;

    position: relative;
    border-radius: $radius-base;
    background-color: $color-nested-1;
    padding: $space-5;
    margin-top: 10rem;
    width: 95%;

    margin: {
      left: auto;
      right: auto;
    }

    .dark & {
      background-color: $color-nested-1-dark;
    }

    @include media(md) {
      width: 66.66%;
    }

    .close-button {
      position: absolute;
      top: $space-2;
      right: $space-4;
      cursor: pointer;
      width: max-content;
      height: max-content;

      &:hover {
        font-weight: 700;
        color: $color-nested-1-dark;

        .dark & {
          color: $color-nested-1;
        }
      }
    }

    .name {
      @include text.xxxl;
      text-align: center;
    }

    .urls,
    .description,
    .tags,
    .media-text {
      margin-top: $space-3;
    }

    .tags {
      justify-content: center;
    }

    .media-text {
      text-align: center;

      span {
        @include text.xs;
      }
    }

    .media {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: $space-2;
    }
  }
}