@use "../mixins/media" as *;
@use "../mixins/flex_center" as *;
@use "../mixins/text";
@use "../config/variables" as *;

.project-summary {
  @include flex_center;
  border-radius: $radius-base;
  background-color: $color-nested-1;
  cursor: pointer;
  margin-top: $space-2;
  padding: $space-1;
  display: flex;
  position: relative;
  gap: $space-2;

  @include media(md) {
    padding: $space-2;
  }

  &:hover {
    background-color: $color-nested-2;
  }

  .dark & {
    background-color: $color-nested-1-dark;

    &:hover {
      background-color: $color-nested-2-dark;
    }
  }

  .summary-link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
  }

  .image {
    @include flex_center;
    width: 15%;

    @include media(md) {
      width: 10%;
    }

    &>img {
      width: 100%;
      height: auto;
    }
  }

  .info {
    flex-grow: 1;
    height: 100%;

    .name {
      @include text.lg;
      text-align: center;
      font-weight: 700;
      margin-bottom: $space-2;
    }

    .summary {
      @include text.xs;
      margin-bottom: $space-2;
    }
  }
}