@use "../config/variables" as *;
@use "../mixins/text";

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: $space-1;
  flex-wrap: wrap;
}

.tag {
  @include text.xs;
  border-radius: $radius-lg;
  background-color: $color-primary;
  padding: $space-1;
  text-wrap: nowrap;

  .dark & {
    background-color: $color-primary-dark;
  }

  .active & {
    background-color: $color-danger;

    .dark & {
      background-color: $color-danger-dark;
    }
  }
}