@use "../mixins/media" as *;
@use "../mixins/flex_center" as *;
@use "../mixins/text";
@use "../config/variables" as *;

.topbar {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: $space-3;

  margin: {
    bottom: $space-3;
    left: $space-2;
    right: $space-2;
    top: $space-1;
  }

  .hamster-image {
    border-radius: $radius-base;
    max-height: 9rem;
    box-shadow: 0 1px 2px 0 $color-base-dark;
    margin-bottom: $space-1;

    .dark & {
      box-shadow: 0 1px 2px 0 $color-base;
    }
  }

  .theme-btn {
    padding: $space-0-5 $space-3;
  }

  .title {
    @include flex_center;
    @include text.xl;
    grid-column: span 2 / span 2;

    @include media(md) {
      @include text.xxl;
    }
  }

  .gitlab-link {
    @include text.xl;
    @include flex_center;
    justify-content: flex-end;
    color: $color-gitlab-dark;

    .dark & {
      color: $color-gitlab;
    }

    .gitlab-text {
      text-align: center;
    }

    .gitlab-image {
      @include flex_center;

      img {
        width: 50%;
      }
    }
  }
}