<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tzwz's personal page" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.ico" sizes="any"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/manifest.webmanifest"/>
    <meta name="description" content="Tzwz's personal page, with projects and stuff."/>

    <meta property="og:title" content="Tzwz's personal page" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta property="og:image" content="/icon-512.png" />
    <meta property="og:description" content="Tzwz's personal page, with projects and stuff."/>
    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
